#background{
  -fx-background-color: #FFF8CE;
}
#startButton{
  -fx-background-color: #C5A968;
  -fx-cursor: hand;
}
#startButton:hover{
  -fx-background-color: #937839;
  -fx-cursor: hand;
}
#inputField, #outputField{
  -fx-background-color: #28240B;
  -fx-text-fill: #ffffff;
}
